/* Home.css */

/* Set the background image path */
/* html, body {
  height: 100%;
} */

/* body {
  /* background-image: url('C:\\Users\\Adeptpros\\Downloads\\EMS.jpg');
  background-size: auto 50%;
  background-position: top left;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;  
} */
